/*wsui-animate-float Start*/
.wsui-animate-float {
  animation: wsui-float ease-in-out 3s infinite;
}

.wsui-animate-float[data-speed="fast"] {
  animation-duration: 3s;
}

.wsui-animate-float[data-speed="normal"] {
  animation-duration: 10s;
}

.wsui-animate-float[data-speed="slow"] {
  animation-duration: 20s;
}

@-webkit-keyframes wsui-float {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1em);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

/*wsui-animate-float End*/
body,
html {
  height: 100%;
  position: relative;
}

.is-container {
  text-align: center;
}

.wsui-animate-float {
  border: 1px solid #e6e4e2;
  border-radius: 10px;
  overflow: hidden;
  width: 120px;
  margin: 30px;
}
