/*wsui-animate-float Start*/
.wsui-animate-float {
  animation: wsui-float ease-in-out 3s infinite;
}

@-webkit-keyframes wsui-float {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-1em);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

/*wsui-animate-float End*/
body,
html {
  height: 100%;
  position: relative;
}

.wsui-animate-float {
  position: absolute;
  border: 1px solid #e6e4e2;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
