@import "../dist/index.scss";

body,
html {
  height: 100%;
  position: relative;
}
.webkit-sassui-animate-float {
  position: absolute;
  border: 1px solid #e6e4e2;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
