/*webkit-sassui-animate-float Start*/
$webkit-sassui-animate-float-options: (
  duration: 3s
) !default;

.webkit-sassui-animate-float {
  $duration: map-get(
    $map: $webkit-sassui-animate-float-options,
    $key: duration
  );

  animation: webkit-sassui-float ease-in-out $duration infinite;
}

@-webkit-keyframes webkit-sassui-float {
  0% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-1em);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
/*webkit-sassui-animate-float End*/
