/*wsui-animate-float Start*/
$wsui-animate-float-options: (
  fast: 3s,
  normal: 10s,
  slow: 20s,
) !default;

.wsui-animate-float {
  $duration: map-get(
    $map: $wsui-animate-float-options,
    $key: duration,
  );

  animation: wsui-float ease-in-out 3s infinite;
  &[data-speed="fast"] {
    animation-duration: 3s;
  }
  &[data-speed="normal"] {
    animation-duration: 10s;
  }
  &[data-speed="slow"] {
    animation-duration: 20s;
  }
}

@-webkit-keyframes wsui-float {
  0% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-1em);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
/*wsui-animate-float End*/
