/*wsui-animate-float Start*/
$wsui-animate-float-options: (
  duration: 3s
) !default;

.wsui-animate-float {
  $duration: map-get(
    $map: $wsui-animate-float-options,
    $key: duration
  );

  animation: wsui-float ease-in-out $duration infinite;
}

@-webkit-keyframes wsui-float {
  0% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-1em);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
/*wsui-animate-float End*/
